<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.artshell.misc"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- =============== activity begin =============== -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StateRetainObjectViewModelActivity"
            android:description="@string/activity"
            android:label="StateRetainObjectViewModelActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StateSaveInstanceActivity"
            android:description="@string/activity"
            android:label="StateSaveInstanceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NoReLauncherActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden|screenLayout|locale"
            android:description="@string/activity"
            android:label="NoReLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReLauncherActivity"
            android:description="@string/activity"
            android:label="ReLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RequestOrientationActivity"
            android:description="@string/activity"
            android:label="RequestOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- =============== end =============== -->


        <!-- =============== service begin =============== -->
        <activity
            android:name=".service.ReactiveServiceActivity"
            android:description="@string/service"
            android:label="ReactiveServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.ReactiveLiveDataService"
            android:exported="false">
        </service>

        <!-- =============== end =============== -->
    </application>

</manifest>